/CaracteristicasPersonajes.class
/Dibujar.class
/Elementos.class
/Inicializador.class
/Inicio.class
/Juego.class
/Jugador.class
/PersonajeBase.class
/Yerba.class
/Chuker.class
/Controller.class
/Azucar.class
